<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>To-Do List</h1>
        <form action="{{ url_for('add_task') }}" method="POST">
            <input type="text" name="task" placeholder="Add new task">
            <button type="submit">Add Task</button>
        </form>
        <ul id="taskList">
            {% for index in range(tasks|length) %}
                <li>
                    <input type="checkbox" id="task{{ index }}" name="task{{ index }}" {% if tasks[index].completed %}checked{% endif %} onchange="markCompleted({ index })">

                    <label for="task{{ index }}" {% if tasks[index].completed %}class="completed"{% endif %}>{{ tasks[index].text }}</label>
                    <a href="{{ url_for('delete_task', task_id=index) }}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

